* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body a{
    text-decoration: none;
    color: white;
}
nav{
    position: fixed;
    top: 0px;
}
body a:hover{
    color: greenyellow;
}
body button{
    color: black;
}
.clear{
    clear: both;
}
.header{
    font-size: 40px;
    letter-spacing: 8px;
    text-shadow: rgb(65, 65, 65) 2px 2px;
}
#home1 div h1{
    line-height: 70px;
}
.header h1{
     font-weight: 500;
}
p{
    font-size: 20px;
    letter-spacing: normal;
    text-shadow: none;
}

button{
    border-radius: 10px;
    background-color: rgb(70, 248, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgb(36, 33, 33) 2px 2px 2px 2px;
}
button:hover{
    background-color: white;
    color: rgb(70, 248, 0)
}

.buy{
    width: 12%;
}
.home1{
    background-color: rgb(160, 137, 137);
    border: 3px solid white;
    padding: 95px 0px;
    border: none;
    width: 100%;
    height: 100vh;
}
.header2{
    text-align: center;
    margin: 50px  0px 10px 0px;
}
 .speech1 p{
    text-align: justify;
}
 img{
   
    padding: 8px 15px 200px 10px;
 
}

.home3{
    border: 3px solid white;
    padding: 40px 0px 170px 0px;
    border: none;
    border-bottom: white solid 2px;
}
.header2{
    padding: 10px 0px;
}
.clear{
    clear: both;
}
.join{
    width: 30%;
}
.home2{
    border-bottom: 2px solid rgb(255, 252, 252);
    padding-top: 50px;
}

.networks div{
    border: solid black 2px ;
    padding: 60px 40px;
    border: none;
    box-shadow: rgb(41, 37, 37) 2px 2px 2px 2px;
    
}
.mtn{  
    background-color: yellow;
    float: left;
}
.mobile{
    float: right;
    background-color: rgb(6, 85, 6);
}
.glo{
    background-color: green;
    float: left;
}
.airtel{
    float: right;
    background-color: red;
}


input{
    padding: 10px;
    width: 95%;
    margin: 10px;
}

input[type=submit]{

    background-color: white;
    color: rgb(70, 248, 0);
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 7px;
    box-shadow: rgb(36, 33, 33) 2px 2px 2px 2px;

}
input[type=submit]:hover{
    color: white;
    background-color: rgb(70, 248, 0);
}
legend{
    color: white;
}
fieldset{
       background-color: rgb(70, 248, 0);
       border-radius: 10px;
}
footer{
 position: static;
 bottom: 0px;
    width: 100%;
    height: 35px;
    background-color: rgb(0, 0, 0);
    border-top: 3px solid  white;
    text-align: center;
    margin-top: 12px;
    color: white;
    font-size: 12px;
}


 span{
     color: green;
 }
ul a{
    font-size: 20px;
}
@media screen and (min-width: 768px){
    .box .row{
        display: none;
    }
    .networks div{
       margin: 10px 40px;  
 width: 30%;
    }
    .box .row .col{
    margin: 0px 20px;    
    }
    .box{
    color: white;
    text-align: center;
    border: black solid 1px;
    margin: 0px 300px;
    padding: 10px;
}
.second{
    display: none;
}

   }
       @media screen and (max-width: 768px){
        .networks div{
            float: none;
            margin: auto;
           margin-top: 10%;
        }
        .box1{
            display: none;
        }        
        body{
            overflow-x: hidden;
        } 
        footer{
            margin-top: 10%;
        }
        
   }
   